@using GoTorz.Client.Utilities
@code {
    [Parameter] public GoTorz.Shared.Models.TravelPackage Package { get; set; }
    [Parameter] public EventCallback OnClose { get; set; }

    private async Task CloseDetails()
    {
        await OnClose.InvokeAsync();
    }
}

@if (Package != null)
{
    <div class="details-box">
        <h4>Hotel</h4>
        <div class="details-grid">
            <p><strong>Name:</strong> @Package.Hotel.Name</p>
            <p><strong>Rooms:</strong> @Package.Hotel.Rooms</p>
            <p><strong>Max. number of travellers:</strong> @Package.NumberOfTravellers</p>
        </div>

        <h4>Flight</h4>
        <div class="details-grid">
            <h5>Outbound</h5>
            <FlightCard Flight="@FlightDisplayMapper.FromModel(Package.OutboundFlight)" />

            <h5>Return</h5>
            <FlightCard Flight="@FlightDisplayMapper.FromModel(Package.ReturnFlight)" />
        </div>

        <button class="close-btn" @onclick="CloseDetails">Close</button>
    </div>
}
