@code {
    [Parameter] public List<GoTorz.Shared.Models.TravelPackage> Packages { get; set; }
    [Parameter] public EventCallback<string> OnPackageSelected { get; set; }

    private string selectedPackageId;

    private async Task SelectPackage(string packageId)
    {
        selectedPackageId = packageId;
        await OnPackageSelected.InvokeAsync(packageId);
    }
}

@if (Packages != null)
{
    <ul class="package-list">
        @foreach (var package in Packages)
        {
            <li class="package-item">
                <button class="package-button @(selectedPackageId == package.TravelPackageId ? "selected" : "not-selected")"
                        @onclick="() => SelectPackage(package.TravelPackageId)">
                    <strong>@package.Destination</strong> <br />
                    Hotel: @package.Hotel.Name <br />
                    Departure: @package.Arrival.ToString("d") <br />
                    Return: @package.Departure.ToString("d") <br />
                    Price: @package.Price EUR
                </button>
            </li>
        }
    </ul>
}
